<mat-card>
  <mat-card-title >
    {{config.labels.title}}
  </mat-card-title>
  <mat-card-subtitle style.display="block">
    {{config.labels.subtitle}}
  </mat-card-subtitle>
  <mat-card-content>
    <mat-progress-bar [mode]="progressMode" [value]="progressValue" [style.visibility]="progressMode == null ? 'hidden' : 'visible'"></mat-progress-bar>

    <mat-vertical-stepper linear="true" #stepper>

        <mat-step [completed]="false">
          <ng-template matStepLabel>{{config.labels.sourceStep.title}}</ng-template>
          <p>{{config.labels.sourceStep.description}}</p>
          <mat-form-field class="example-full-width" [style.width.px]="150">
            <input matInput placeholder="Select CSV file" readonly [value]="fileLocation" />
          </mat-form-field>
          <button class="browseButton" type="button" mat-raised-button (click)="fileInput.click()">Browse..</button>
          <input hidden #fileInput type="file" [accept]="fileInputAccept()" (change)="openFile($event)" />

        <mat-form-field *ngIf="sourceFileContents != ''">
            <textarea matInput readonly
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3"
              [value]="sourceFileContents"></textarea>
          </mat-form-field>
          <mat-error *ngIf="sourceError">{{sourceError}}</mat-error>
        </mat-step>

        <mat-step [completed]="dataSource != null">
          <ng-template matStepLabel>{{config.labels.previewStep.title}}</ng-template>
          <p>{{config.labels.previewStep.description}}</p>
          <br />
          <div class="table-container mat-elevation-z3" *ngIf="dataSource">
            <table mat-table [dataSource]="dataSource">

                <!-- Columns -->
                <ng-container *ngFor="let column of columns" [matColumnDef]="column">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column }} </th>
                  <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
              </table>
            </div>
            <br />
            <button mat-button matStepperNext>Next</button>
        </mat-step>

        <mat-step [completed]="dataSource != null">
          <ng-template matStepLabel>{{config.labels.outputStep.title}}</ng-template>
          <p>{{config.labels.outputStep.description}}</p>
          <button mat-button (click)="downloadFile()">Download</button>
          <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>

      </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
<footer><a href="https://gitlab.com/avgroenester/sportlink_to_mailchimp" title="Gitlab repository">Gitlab</a></footer>
